body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* containers section */

.container-fluid {
  padding: 7% 15%;
}

/* sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* navigation bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* title section */

#title .container-fluid{
  padding: 3% 15% 3%;
  text-align: left;
}

.rotate-img {
  transform: rotate(25deg);
  width: 40%;
  max-width: 250px;
  margin: 40px;
  position: absolute;
}

/* download button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* FEATURES SECTION */

#features {
  margin-top: 0px;
  position: relative;
  z-index: 1;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: bold;
}

.features-col {
  padding: 5%;
}

.features-subtitle {
  color: #8f8f8f;
  /* width: 70%; */
  margin: auto;
}

/* testimonial section */

#testimonial {
  background-color: #ef8172;
}

.testimonial-subtitle {
  font-size: 3rem;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
}

.testimonial-img {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

.testimonial-text {
  float: none;
}

/* press section */

#press {
  background-color: #ef8172;
  padding: 3%;
}

.press-img {
  width: 15%;
  margin: 0 10px;
}

/* pricing section */

.pricing-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.pricing-subtitle {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}

.unvisible {
  text-indent: -99999px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* cta section */

.cta-subtitle {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer section */

#footer {
  padding: 70px 0 0 0;
  color: #8f8f8f;
}

.footer-icon {
  padding: 0 0.5%;
  color: #353535;
}

.footer-icon:hover {
  color: #ff4c68;
}

.footer-copyright {
  font-size: 10px;
  margin: 2%;
}


@media (max-width: 991px) {
  #title .container-fluid {
    text-align: center;
  }

  .download-button{
    margin: 5% 0;
  }

  .rotate-img {
    position: static;
    transform: rotate(0);
  }

  .testimonial-subtitle {
    font-size: 2rem;
    line-height: 3rem;
  }

  .testimonial-img {
    width: 70px;
  }
}

@media (max-width: 480px){
  #title h1{
    font-size: 2rem;
  }
}
